<!DOCTYPE html>

<html>
<head>
	<link rel="shortcut icon" href="../static/favicon.ico">
	<title>Gachimuchi Soundboard</title>
	<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="../static/bootstrap/css/stylesheet.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type='text/javascript' src='../static/bootstrap/js/script.js'></script>
</head>
<body>
	{%block play%}{%endblock%}
	<div>
	<footer>
		<address align="center">
			Contact: <a href="mailto:admin@ass-we-an.com">admin@ass-we-can.com</a>. Comments and suggestions welcome. Please provide a source or a sound file if you want a quote added.
		</address>
	</footer>
	</div>
</body>
</html>