<!DOCTYPE html>

<html>
<head>
	<link rel="shortcut icon" href="../static/favicon.ico">
	<title>Gachimuchi Soundboard</title>
	<meta name="description" content="A simple soundboard with the most famous quotes used in Gachimuchi video montages. Featuring 'Take it boy!', 'Boss of this gym', 'Ass we can' and more.">
	<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="../static/bootstrap/css/stylesheet.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type='text/javascript' src='../static/bootstrap/js/script.js'></script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60842983-1', 'auto');
  ga('send', 'pageview');

	</script>
</head>
<body>
	{%block play%}{%endblock%}
	<div class="col-md-12">
	<footer>
		<address align="center">
			Contact: <a href="mailto:admin@ass-we-an.com">admin@ass-we-can.com</a> - <a href="https://twitter.com/GachiSoundboard"><img src="static/images/Twitter_logo_blue_32.png">@GachiSoundboard</a>. Comments and suggestions welcome. Please provide a source or a sound file if you want a quote added.
		</address>
	</footer>
	</div>
</body>
</html>